@using TransAppWebSite.Utilities
@model TransAppWebSite.Models.Event
@{
    ViewBag.Title = "Event Details";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            
        </div>
    </section>
}

 @Html.Label("ID :") 

    @Html.Label(Model.Id.ToString())

    <br />

    @Html.Label("Text :") 
    
    @Html.Label(Model.Text)

    <br />
      
    @Html.Label("Time Created :") 

    @Html.Label(Model.Time.ToLocalTime().ToString("dd-MM-yyyy hh:mm"))

    <br />
      
    @Html.Label("Task Id :") 

    @Html.Label(Model.TaskId.ToString())

    <br />
      
    @Html.Label("User Id :") 

    @Html.Label(Model.UserId.ToString())
    
    <br />
      
    @Html.Label("Event Type :") 
    @Html.Label(((TransAppWebSite.Models.EventType)Model.EventType).ToString())