@using TransAppWebSite.Utilities
@model TransAppWebSite.Models.Customer
@{
    ViewBag.Title = "Customer Details";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            
        </div>
    </section>
}

    @Html.Label("ID :") 

    @Html.Label(Model.Id.ToString())

    <br />

    @Html.Label("Name :") 
    
    @Html.Label(Model.Name)

    <br />

     @if (Model.Address != null)
    {
        <br />
         @Html.Label("Address :")
         <label for="address">@Html.ActionLink(string.Format("{0} {1}, {2}", Model.Address.StreetName, Model.Address.StreetNumber, Model.Address.City), "Details/" + Model.Address.Id, "Addresses")</label>
    }

    <br />

     @if (Model.Contact != null)
    {
        <br />
         @Html.Label("Contact :")
         <label for="conatct">@Html.ActionLink(string.Format("{0} {1}", Model.Contact.FirstName, Model.Contact.LastName), "Details/" + Model.Address.Id, "Contacts")</label>
    }
   
    <br />

    @Html.Label("Last Modified :") 

    @Html.Label(Model.LastModified.ToLocalTime().ToString("dd-MM-yyyy hh:mm"))
    
    <br />


    