@using TransAppWebSite.Utilities
@model TransAppWebSite.Models.Contact
@{
    ViewBag.Title = "Contact Details";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            
        </div>
    </section>
}

    @Html.Label("ID :") 

    @Html.Label(Model.Id.ToString())

    <br />

    @Html.Label("First Name :") 
    
    @Html.Label(Model.FirstName)

    <br />
      
    @Html.Label("Last Name :") 

    @Html.Label(Model.LastName)

    <br />
      
    @Html.Label("Office Number :") 

    @Html.Label(Model.OfficeNumber)
    
    <br />
      
    @Html.Label("Cell Number :") 

    @Html.Label(Model.CellNumber)
    
    <br />
      
    @Html.Label("Email :") 
    <label for="email"> @Model.Email</label>

    @if (Model.Address != null)
    {
        <br />
         @Html.Label("Address :")
         <label for="address">@Html.ActionLink(string.Format("{0} {1}, {2}", Model.Address.StreetName, Model.Address.StreetNumber, Model.Address.City), "Details/" + Model.Address.Id, "Addresses")</label>
    }
   

    <br />
    <br />

    @Html.Label("Last Modified :") 

    @Html.Label(Model.LastModified.ToLocalTime().ToString("dd-MM-yyyy hh:mm"))

    <br />