@using TransAppWebSite.Utilities
@model TransAppWebSite.Models.TaskViewModel
@{
    ViewBag.Title = "Edit Task";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            
        </div>
    </section>
}

<article>

@using (Html.BeginForm("Edit", "Tasks", FormMethod.Post))
{
    @Html.Label("Delivery Number: ") 
    @Html.TextBoxFor(m => m.DeliveryNumber)
    <br/>
    @Html.Label("User Name: ")

    @Html.DropDownListFor(m => m.User.Id, new SelectList(Model.UsersList.CompaniesUsersList, "Id", "FullName", Model.UsersList.CompaniesUsersList.First().Id))

    <br/>
    
    @Html.Label("Sender Address: ")

    @Html.DropDownListFor(m => m.SenderAddress.Id, new SelectList(Model.AddressesList.CompaniesAddressesList, "Id", "AddressString", Model.AddressesList.CompaniesAddressesList.First().Id))

    <br/>
    
    @Html.Label("Reciver Address: ")

    @Html.DropDownListFor(m => m.ReciverAddress.Id, new SelectList(Model.AddressesList.CompaniesAddressesList, "Id", "AddressString", Model.AddressesList.CompaniesAddressesList.First().Id))

    <br/>
    
    @Html.Label("Pick Up Time: ")

    @Html.EditorFor(m => m.PickUpTime)
    
    <br/>
    
    @Html.Label("Delivery Time: ")
  
    @Html.EditorFor(m => m.DeliveryTime)

    <br/>
    
    @Html.Label("Comment: ")
    
    @Html.TextBoxFor(m => m.Comment)

    @Html.HiddenFor(m => m.LastModified)
    @Html.HiddenFor(m => m.Created)  
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Company)
    @Html.HiddenFor(m => m.Contact)
    @Html.HiddenFor(m => m.TaskStatus)
    @Html.HiddenFor(m => m.Rejected)
    @Html.HiddenFor(m => m.UserComment)

    <br />
    <input type="Submit"  id='EditTask' value='Update' />
}
<br />
<br />
@Html.ActionLink("Tasks", "Index")
<br />
@Html.ActionLink("Home", "Index", "Home")
</article>

@* @Html.Partial("_jQueryScripts")
<script>
    $(document).ready(function () {
        $('.date').datepicker();


        //$('.date').click(function()
    });
</script>*@