@using TransAppWebSite.Utilities
@model TransAppWebSite.Models.TaskViewModel
@{
    ViewBag.Title = "Create Task";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            
        </div>
    </section>
}

<article>

@using (Html.BeginForm("New", "Tasks", FormMethod.Post))
{
    @Html.Label("Delivery Number: ") 
    @Html.TextBoxFor(m => m.DeliveryNumber)
    <br/>
    @Html.Label("User Id: ")
    @Html.TextBoxFor(m => m.User.Id)
     <br/>
    @Html.Label("Company Id: ")
    @Html.TextBoxFor(m => m.Company.Id)
     <br/>
    @Html.Label("Sender Address Id: ")
    @Html.TextBoxFor(m => m.SenderAddress.Id)
    <br/>
    @Html.Label("Reciver Address Id: ")
    @Html.TextBoxFor(m => m.ReciverAddress.Id)
     <br/>
    @Html.Label("Comment: ")
    @Html.TextBoxFor(m => m.Comment)
    <br/>@*
    @Html.Label("Last Modified: ")
    @Html.TextBoxFor(m => m.LastModified.ToString())
    *@<br/>
    @Html.Label("Company Id: ")
    @Html.TextBoxFor(m => m.Company.Id)
    
    @Html.HiddenFor(m => m.LastModified)  
    @Html.HiddenFor(m => m.RowStatus)
    @Html.HiddenFor(m => m.Id)


    <br />
    <input type="Submit"  id='CreateTask' value='Update' />
}
<br />
<br />
@Html.ActionLink("Tasks", "Index")
<br />
@Html.ActionLink("Home", "Index", "Home")
</article>