@using TransAppWebSite.Utilities
@model TransAppWebSite.Models.User
@{
    ViewBag.Title = "Edit User";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            
        </div>
    </section>
}

<article>

@using (Html.BeginForm("Edit", "Users", FormMethod.Post))
{
    @Html.Label("First Name: ") 
    @Html.TextBoxFor(m => m.FirstName)
    <br/>
    @Html.Label("Last Name: ")
    @Html.TextBoxFor(m => m.LastName)
     <br/>
    @Html.Label("Last Name: ")
    @Html.TextBoxFor(m => m.LastName)
     <br/>
    @Html.Label("User Name: ")
    @Html.TextBoxFor(m => m.UserName)
    <br/>
    @Html.Label("Phone Number: ")
    @Html.TextBoxFor(m => m.PhoneNumber)
     <br/>
    @Html.Label("Email: ")
    @Html.TextBoxFor(m => m.Email)
    <br/>@*
    @Html.Label("Time: ")
    @Html.TextBoxFor(m => m.Time.ToString())
    *@<br/>
    @Html.Label("Company Id: ")
    @Html.TextBoxFor(m => m.Company.Id)
    <br/>
    @Html.Label("Role: ")
    @Html.TextBoxFor(m => m.Role)
    
    @Html.HiddenFor(m => m.TimeCreated)  
    @Html.HiddenFor(m => m.RowStatus)
    @Html.HiddenFor(m => m.Id)

    <br />
    <input type="Submit"  id='EditUser' value='Update' />
}
<br />
<br />
@Html.ActionLink("Users", "Index")
<br />
@Html.ActionLink("Home", "Index", "Home")
</article>