@using TransAppWebSite.Utilities
@model TransAppWebSite.Models.Company
@{
    ViewBag.Title = "Create Company";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            
        </div>
    </section>
}
<article>

@using (Html.BeginForm("Edit", "Companies", FormMethod.Post))
{
     @Html.Label("Name: ") 
    @Html.TextBoxFor(m => m.Name)
    <br/>
    @Html.Label("Company User Name: ")
    @Html.TextBoxFor(m => m.CompanyUserName)
    <br/>
    @Html.Label("Company Info: ")
    @Html.TextBoxFor(m => m.CompanyInfo)

    <h3>@Html.Label("Adress: ")</h3>
    <br/>
    @Html.Label("Street Name: ") 
    @Html.TextBoxFor(m => m.Address.StreetName)
    <br/>
    @Html.Label("Street Number: ")
    @Html.TextBoxFor(m => m.Address.StreetNumber)//, new { @Value = (Model.Address.StreetNumber != null ?Model.Address.StreetNumber.ToString() :string.Empty) })
    <br/>
    @Html.Label("City: ")
    @Html.TextBoxFor(m => m.Address.City)
    <br/>
    @Html.Label("District: ")
    @Html.TextBoxFor(m => m.Address.District)
    <br/>
    @Html.Label("Country: ")
    @Html.TextBoxFor(m => m.Address.Country)
    <br/>
    @Html.Label("Postal Code: ")
    @Html.TextBoxFor(m => m.Address.PostalCode)
    <br/>
    
    @Html.HiddenFor(m => m.LastModified)  
    @Html.HiddenFor(m => m.RowStatus)
    @Html.HiddenFor(m => m.Id)

    <br />
    <input type="Submit"  id='CreateCompany' value='Create' />
}
<br />
<br />
@Html.ActionLink("Companies", "Index")
<br />
@Html.ActionLink("Home", "Index", "Home")
</article>